.members-modal {
    background-color: #ffffff;
    padding: 10px;
    position: relative;
    width: 280px;
    border-radius: 4px;
    z-index: 4;
    height: 250px;
    overflow-y: auto;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: #c3cbdc;
        }

        .members-modal-container {
            margin: 5px;

            .btn-close-modal {
                @include define-close-btn;
                background-color: #ffffff;
                color: #6f7b8f;
                font-size: 1.5rem;
            
                &:hover {
                    color: #172b4d;
                    background-color: #ffffff;
                  }
            }

            .fa-user {
                color: #5e6c84;
            }

            h5 {
                margin-left: 10px;
                color: #5e6c84;
            }

            hr {
                border: 1px solid #dfe2e7;
            }

            input {
                display: block;
                border: 1px solid #dfe1e6;
                background-color: #fafbfc;
                padding: 10px;
                outline: none;
                border-radius: 3px;
                width: 100%;
                margin-bottom: 15px;
            }

            .member {
                color: #172b4d;
                text-transform: capitalize;
                margin: 5px;
                width: 100%;
                cursor: pointer;
            }
        }
}