.project-new-member-modal {
    background-color: #ffffff;
    padding: 10px;
    position: absolute;
    top: 9%;
    left: 7%;
    width: 280px;
    border-radius: 4px;
    height: 180px;
    z-index: 4;
}