.task-group {
    z-index: 1;
    font-family: Opensans-bold, sans-serif;
    font-size: .8500rem;
    background-color: #ebecf0;
    margin-left: 10px;
    border-radius: 4px;
    width: 272px;

    .group-title {
        color: #263959;
        margin-left: 10px;
    }

    .tasks-container {
        overflow-y: auto;
        max-height: 80vh;
        
        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 8px;
            background-color: #F5F5F5;
        }
        
        &::-webkit-scrollbar
        {
            width: 8px;
            background-color: #F5F5F5;
        }
        
        &::-webkit-scrollbar-thumb
        {
            border-radius: 8px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #757678;
        }
    }

    .btn-edit {
        margin-right: 10px;
        @include define-btn;
    }
    .btn-add-task {
        z-index: 1;
        font-family: Opensans-bold, sans-serif;
        margin-bottom: 10px;
        padding: 5px;
        padding-right: 70px;
        font-size: .8500rem;
        float: left;
        margin-left: 10px;
        transition: background-color 0.3s;
        @include define-btn;
    }

    .add-textarea{
        font-family: Arial, Helvetica, sans-serif;
        border: 0;
        border-bottom: 1px solid #b2b9c5;
        min-height: 63px;
        border-radius: 3px;
        width: 248px;
        display: block;
        margin: 10px;
        outline: none;
    }
    
    .btn-save-task {
        @include define-green-btn;
    }
    .btn-close {
        @include define-close-btn;
    }
}

// draggable
.flip-list-move {
    opacity: 1;
    transition: transform 0.5s;
}

.no-move {
    opacity: 1;
    transition: transform 0s;
}

// .ghost {
//     opacity: 1;
//     background: #c8ebfb;
// }
// .list-group {
//     min-height: 20px;
// }
.list-group-item {
    cursor: move;
}

// .list-group-item i {
//   cursor: pointer;
// } 
// .tasks-wrapper {
//   display: flex;
//   justify-content: space-evenly;
// }
// .tasks-wrapper .todo-drag {
//  background-color: red;
//  opacity: 1;
// }
// .chosen-class {
//     opacity: 1;
// }
// .drag-class {
//     // opacity: 1;
//     // background-color: rgba($color: #ec1b1b, $alpha: 1.0);
//     // transition-delay: 1s;
//     rotate: 4deg;
// }
.ghost {
    opacity: 0.5;
}