.user-signup {
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    height: 420px;
    width: 360px;
    border-radius: 4px;

    .signup-container {
        margin: 35px;

        .signup-title {
            color: #5e6c84;
            text-align: center;
            font-size: 1rem;
            margin-bottom: 30px;
        }

        input {
            display: block;
            border: 1px solid #dfe1e6;
            background-color: #fafbfc;
            padding: 10px;
            outline: none;
            border-radius: 3px;
            width: 100%;
            margin-bottom: 15px;

            &:focus {
                border: 1px solid #0079bf;
            }
        }

        .btn-close {
            @include define-close-btn;
            background-color: #ffffff;
            color: #6f7b8f;
            font-size: 1.5rem;
            position: absolute;
            top: 10px;
            right: 10px;
        
            &:hover {
                color: #172b4d;
                background-color: #ffffff;
              }
        }

        .btn-signup {
            width: 100%;
            border-radius: 3px;
            outline: none;
            border: 0;
            height: 30px;
            color: #ffffff;
            font-weight: bold;
            background-color: #5aac44;
            cursor: pointer;
            margin-bottom: 15px;

            &:hover {
                background-color: #61bd4f;
            }
        }

        .bottom-text {
            margin-top: 10px;
            text-align: center;
        }

        p {
            font-size: 0.8rem;
            display: inline;
        }

        .login-text {
            margin-left: 10px;
            color: #0052cc;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                color: #0052cc;
            }
        }
    }
}