.task-add {
    background-color: rgba($color: #e6dcdc, $alpha: 0.5);
    margin-left: 10px;
    border-radius: 3px;
    width: 270px;
    height: 89px;
    float: right;
    cursor: pointer;
    transition: ease-in 0.9;
    &:hover {
        background-color: rgba($color: #c5bebe, $alpha: 0.5);
    }
}