.task-details {
    position: absolute;
    width: 650px;
    height: 750px;
    box-shadow: -1px 3px 15px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(255, 255, 255);
    left: 50%;
    margin-left: -325px;
}