.task-edit {
  z-index: 2;

    input {
        width: 220px;
        height: 120px;
        display: block;
        border-radius: 4px;
        outline: none;
        border: 0;
    }

    .btn-save-task {
        background-color: #5aac44;
        color: #fbfdfb;
        font-size: 0.9rem;
        padding: 10px;
        border-radius: 3px;
        float: left;
        margin-left: 10px;
        border: 0;
        cursor: pointer;
        outline: none;
  
        &:hover {
          background-color: #61bd4f;
        }
      }
  
      .btn-close {
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 16px;
        border: 0;
        cursor: pointer;
        outline: none;
  
        &:hover {
          color: #172b4d;
        }
      }

      .btns-edit-container {
        margin-left: 10px;

        .btn-edit-modal {
          border: 0;
          background-color: rgba(0, 0, 0, 0.5);
          color: #f9f9f9;
          margin-bottom: 5px;
          padding: 7px;
          border-radius: 3px;
          cursor: pointer;
          transition: margin-left 0.3s;

          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            margin-left: 12px;
          }
        }
      }

}

