.task-edit {
  z-index: 2;

    // input {
        // width: 220px;
        // height: 120px;
        // display: block;
        // border-radius: 4px;
        // outline: none;
        // border: 0;
        // resize: none
    // }

    .btn-save-task {
        @include define-green-btn;
      }
  
      .btn-close {
       @include define-close-btn;
       
      }

      .btns-edit-container {
        margin-left: 10px;

        .btn-edit-modal {
          border: 0;
          background-color: rgba(0, 0, 0, 0.5);
          color: #f9f9f9;
          margin-bottom: 5px;
          padding: 7px;
          border-radius: 3px;
          cursor: pointer;
          transition: margin-left 0.3s;

          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            margin-left: 12px;
          }
        }
      }

}

