/* Media queries Breakpoint mixins */

@mixin define-btn {
  border: 0;
  cursor: pointer;
  outline: none;
  color: #7f8a9d;

  &:hover {
      background-color: #dadbe2;
      border-radius: 4px;
      padding: 5px 10px;
      color: #4d5b76;
  }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
      @content;
    }
  }
  
  @mixin for-normal-layout {
    @media (min-width: $break-normal) {
      @content;
    }
  }
  
  @mixin for-wide-layout {
    @media (min-width: $break-wide) {
      @content;
    }
  }
  