/* Media queries Breakpoint mixins */

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
      @content;
    }
  }
  
  @mixin for-normal-layout {
    @media (min-width: $break-normal) {
      @content;
    }
  }
  
  @mixin for-wide-layout {
    @media (min-width: $break-wide) {
      @content;
    }
  }
  