/* Media queries Breakpoint mixins */

@mixin define-btn {
  border: 0;
  cursor: pointer;
  outline: none;
  color: #7f8a9d;

  &:hover {
      background-color: #dadbe2;
      border-radius: 4px;
      padding: 5px 10px;
      color: #4d5b76;
  }
}

@mixin define-close-btn {
  float: left;
      margin-left: 10px;
      font-size: 2rem;
      border: 0;
      cursor: pointer;
      outline: none;
      color: #7b8799;

      &:hover {
        color: #172b4d;
        background-color: #ebecf0;
      }
}

@mixin define-green-btn {
        background-color: #5aac44;
        color: #fbfdfb;
        font-size: 0.9rem;
        padding: 10px;
        border-radius: 3px;
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 0;
        cursor: pointer;
        outline: none;
        &:hover {
            background-color: #61bd4f;
        }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
      @content;
    }
  }
  
  @mixin for-normal-layout {
    @media (min-width: $break-normal) {
      @content;
    }
  }
  
  @mixin for-wide-layout {
    @media (min-width: $break-wide) {
      @content;
    }
  }
  