
@font-face {
    font-family: Opensans;
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Opensans-bold;
    src: url(../fonts/open-sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: euro;
    src: url(../fonts/eurofurence/eurof55.ttf);
}

@font-face {
    font-family: fredoka;
    src: url(../fonts/fredoka/FredokaOne-Regular.ttf);
}

@font-face {
    font-family: merienda;
    src: url(../fonts/merienda/MeriendaOne-Regular.ttf);
}

@font-face {
    font-family: monoton;
    src: url(../fonts/monoton/Monoton-Regular.ttf);
}

@font-face {
    font-family: pacifico;
    src: url(../fonts/pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: shadows;
    src: url(../fonts/shadows/ShadowsIntoLight-Regular.ttf);
}



