
@font-face {
    font-family: Opensans;
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Opensans-bold;
    src: url(../fonts/open-sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: euro;
    src: url(../fonts/eurofurence/eurof55.ttf);
}
