
// COLOR PALETTE

// $clr1: #ce2e6c;
// $clr3: #ffb5b5;
// $clr2: #504658;
// $clr4: #f0decb;
// $clr5: #fff;

// LAYOUT BREAKPOINTS

$break-narrow: 740px;
$break-middle: 960px;
$break-normal: 1200px;
$break-wide: 1400px;


